 {"openapi":"3.0.0","info":{"title":"Referral API","description":"This is API Microservice Referral Program","contact":{"name":"Support Team","email":"bibrkacity@gmail.com"},"version":"1.0"},"servers":[{"url":"https://api.sumra.net/referrals/1"},{"url":"http://api.sumra.net/referrals/1"}],"security":[{"default":[]}],"paths":{"/v1/referral/analytics/byLink":{"get":{"tags":["Analytics"],"summary":"Get analytics for referral link","description":"Get analytics for referral link","parameters":[{"name":"user-id","in":"header","description":"User ID","required":true,"style":"simple","explode":false,"schema":{"type":"number"}},{"name":"package_name","in":"query","description":"Package Name","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"net.sumra.chat"},{"name":"dynamic_link","in":"query","description":"Dynamic Link","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"https://smr.page.link/MD7S"},{"name":"duration_days","in":"query","description":"Duration in days","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"14"}],"responses":{"200":{"description":"Success getting analytics for referral link"},"400":{"description":"Invalid request"},"401":{"description":"Unauthorized"},"404":{"description":"not found"}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/v1/referral/analytics/unregistered":{"get":{"tags":["Analytics"],"summary":"Get unregistered users (by referral code)","description":"Get installed app, without registered users. If send referral code then get list by refcode","operationId":"App\\Api\\V1\\Controllers\\AnalyticsController::unregistered","parameters":[{"name":"referrer_code","in":"query","description":"Referrer code","required":false,"style":"form","explode":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success getting unregistered users (by referral code)"},"400":{"description":"Invalid request"}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/v1/referral":{"get":{"tags":["Main"],"summary":"List all referrals for user","description":"List all referrals for user","operationId":"App\\Api\\V1\\Controllers\\MainController::index","parameters":[{"name":"user-id","in":"header","description":"User ID","required":true,"style":"simple","explode":false,"schema":{"type":"number"}}],"responses":{"200":{"description":"Success join new user to referrer user"},"400":{"description":"Invalid request"},"401":{"description":"Unauthorized"},"404":{"description":"not found"}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"},"post":{"tags":["Main"],"summary":"Join new user to referrer","description":"Send encryption data: username - New User Name, * package_name (required) - Package Name, referrer_code - Referrer code, * device_id (required) - User Device ID, * device_name (required) - User Device Name","operationId":"App\\Api\\V1\\Controllers\\MainController::create","parameters":[{"name":"user-id","in":"header","description":"New User ID","required":false,"style":"simple","explode":false,"schema":{"type":"number"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"version_key":{"type":"string","description":"Version Key","example":"66981685"},"data":{"type":"string","description":"Encrypt data"}}}}},"required":true},"responses":{"200":{"description":"Success send data"},"400":{"description":"Invalid request"},"401":{"description":"Unauthorized"},"404":{"description":"not found"}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/v1/referral/invite":{"get":{"tags":["Main"],"summary":"Get user invite code","description":"Get user referrer invite code","operationId":"App\\Api\\V1\\Controllers\\MainController::invite","parameters":[{"name":"user-id","in":"header","description":"User ID","required":true,"style":"simple","explode":false,"schema":{"type":"number"}},{"name":"package_name","in":"query","description":"Package Name","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"net.sumra.chat"}],"responses":{"200":{"description":"Success get or generate referrer invite code"},"400":{"description":"Invalid request"},"401":{"description":"Unauthorized"},"404":{"description":"not found"}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/v1/referral/manager/validate/user":{"post":{"tags":["Management"],"summary":"Validate user installed app","description":"Validate user installed app","operationId":"App\\Api\\V1\\Controllers\\ManagementController::validateUser","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"user_id":{"type":"integer","description":"User ID","example":669},"application_id":{"type":"integer","description":"Application ID","example":2},"status":{"type":"integer","description":"Status (Approve, Reject, etc)","example":1}}}}},"required":true},"responses":{"200":{"description":"User successfull validated"},"400":{"description":"Invalid request"},"401":{"description":"Unauthorized"},"404":{"description":"not found"}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/v1/referral/manager/validate/referrer":{"post":{"tags":["Management"],"summary":"Validate referrer","description":"Validate referrer","operationId":"App\\Api\\V1\\Controllers\\ManagementController::validateReferrer","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"referrer_id":{"type":"integer","description":"Referrer ID","example":69},"application_id":{"type":"integer","description":"Application ID","example":2},"status":{"type":"integer","description":"Status (Approve, Reject, etc)","example":1}}}}},"required":true},"responses":{"200":{"description":"Successfull validated"},"400":{"description":"Invalid request"}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}}},"components":{"securitySchemes":{"default":{"type":"oauth2","flows":{"implicit":{"authorizationUrl":"https://api.sumra.net/authorize","scopes":{}}}}}}}