{
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"], 
  "plugins": [
    [ 
      "babel-plugin-styled-components",
      {
        "ssr": false
      },
      "@babel/plugin-proposal-class-properties"
    ],
    ["inline-json-import", {}],
    ["transform-regenerator"]
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs", "syntax-dynamic-import"]
    }
  }
}
