.payments-modal {
  position: fixed;
  z-index: 1110;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(46, 49, 64, 0.35);
  backdrop-filter: blur(8px);
  padding: 10px;

  &__wrapper {
    width: 522px;
    padding: 30px;
    background: #F5F5F8;
    border-radius: 12px;

    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;

    @media(max-width: 546px) {
      width: 422px;
    }
  }

  &__close {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  &__number {
    margin: 20px 0 7px;
    font-size: 38px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 2px;
    color: #7165E3;

    @media(max-width: 546px) {
      font-size: 30px;
      line-height: 30px;
    }
  }

  &__text {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #959BAD;
  }
  
  &__block-title {
    display: flex;
    justify-content: space-between;
    margin: 35px 0;

    @media(max-width: 546px) {
      margin: 15px 0;
    }
  }

  &__title {
    font-size: 15px;
    line-height: 24px;
    color: #2E3140;
  }

  &__btn-add {
    font-size: 15px;
    line-height: 22px;
    color: #7165E3;
  }

  &__block-checkbox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box !important;
    margin-bottom: 35px;
  }

  &__inner {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 14px 20px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 10px 20px rgba(88, 86, 104, 0.07), 0px 40px 50px rgba(143, 140, 167, 0.03);
    border-radius: 7px;
    cursor: pointer;
    margin: 0;

    @media(max-width: 546px) {
      padding: 10px 14px;
    }
  }

  &__inner-check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 14px 20px;
    background: #F0F1FF;
    border: 2px solid #7165E3;
    box-shadow: 0px 10px 20px rgba(88, 86, 104, 0.07), 0px 40px 50px rgba(143, 140, 167, 0.03);
    border-radius: 7px;
    margin: 0;

    @media(max-width: 546px) {
      padding: 10px 14px;
    }
  }

  &__sumra-block {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__btn-continue {
    display: block;
    width: 233px;
    height: 48px;
    margin: 0 auto;
    background: #7165E3;
    border-radius: 7px;

    color: #FFFFFF;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    transition: all 0.4s;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }
}

.anim-appear {
  opacity: 0.01;
}
 
.anim-appear.anim-appear-active{
  opacity: 2;
  transition: opacity 0.5s ease-in;
}
