.contact-book {
  &__item-sumra-meet {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 44px;
    margin-bottom: 7px;
    padding-left: 28px;
    color: #8A94A6;
    text-decoration: none;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 29px;
    letter-spacing: 1px;
    text-decoration: none;


    i {
      font-size: 18px;
    }

    span {
      color: #8A94A6;
    }

    &:hover {
      background: #EBF2FF;
      color: #377DFF;
      border-radius: 8px;
      margin: 0 16px 7px;
      padding: 0 12px;
      text-decoration: none;

      i {
        font-size: 18px;
        color: #377DFF;
      }

      span {
        color: #377DFF;
      }
    }
  }

  &__item-active-sumra-meet {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 44px;
    margin: 0 16px 7px;
    padding: 0 12px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 29px;
    color: #377DFF;
    background: #EBF2FF;
    border-radius: 8px;

    i {
      color: #377DFF;
      font-size: 18px;
    }
  }
  
  &__unread-sumra-meet {
    position: relative;
    top: -6px;
    width: 26px;
    height: 17px;
    background: #B0B7C3;
    border-radius: 30px;

    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
  }
}